.card {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 200px; /* Fixed height for consistency */
    object-fit: cover; /* Ensure image covers the area */
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow body to expand and push buttons down */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.btn11 {
    width: 100px;
    margin-bottom: 5px;
}

.btn-group {
    display: flex;
    flex-direction: column;

}

.btn-group .btn {
    margin-bottom: 0;
}
/* Custom Bootstrap Button Styles */

/* Dark blue color */
.btn-darkblue {
    background-color: #000d6b; /* Dark blue color */
    border-color: #000d6b;
    color: white; /* Text color */
}

.btn-darkblue:hover {
    background-color: #000a4d; /* Slightly darker blue for hover effect */
    border-color: #000a4d;
}

.btn-darkblue:focus, .btn-darkblue.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 13, 107, 0.5); /* Shadow color matching button color */
}
